body {
    text-shadow: 1px 1px 10px black;
    background-color: rgb(230, 230, 230);
    
}

a {
    text-decoration: none;
}

.page {
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    position: relative;
    background-color: rgba(115, 115, 115, 1);
    height: 200px;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    margin-top: calc(50% - 50vw);
}

.logo {
    margin-left: 30px;
    padding-bottom: 20px;
}

.contacts, .contacts__h2 {
    color: white;
    position: absolute;
    right: 50px;
    top: 20px;
    font-size: 15px;
}

.someText {
    position: absolute;
    text-align: center;
    top: 10%;
    left: 40%;
    max-width: 350px;
    color: white;
    font-size: 20px;
}

.navBar {
    margin-top: 15px;
    padding: 20px;
    background-color: gray;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    height: 50px;
    transition: height .3s ease-in;

    display: grid;
    grid-template-columns: repeat(5,minmax(110px,1fr));
    
    /* Расстояние между ячейкаами в колонке */
    grid-gap: 10px;
  
    /* Выравниваем контент по середине ячейки */
    justify-items: center;


}

/* .mrgn, .mrgn1, .mrgn2, .mrgn3, .mrgn4 {
    font-size: 25px;
    color: white;
    padding: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: 0 0 0;
    transition: background-color .3s;
    
} */

.navBar__line {
    display: none;
    max-height: 40px;
}

.navBar a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 10px;
    
}

.navBar a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.navBar a:hover::before {
    transform: scaleX(1);
}



/* 
.mrgn:hover, .mrgn1:hover, .mrgn2:hover, .mrgn3:hover, .mrgn4:hover {
    background-color: lightgray;
    transition: .3s linear;
    
} */

.galery {
    border: 1px solid black;
    border-radius: 10px;
}

.galery_before {
    display: block;
    border-radius: 10px;
    position: relative;
}

.slideButton {
    position: absolute;
    top: 35%;
    left: 1%;
    padding: 15px;
    background-color: darkslateblue;
    border: 0;
    border-radius: 25px;
    font-size: 15px;
    font-weight: bolder;
    color: white;
    box-shadow: 2px 2px 3px black;
}

.slideButton:hover {
    cursor: pointer;
}

.divsDown {
    margin-top: 55px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 55px;

    
    
}

.afisha__wrapper {
    display: grid;
    grid-template-columns: repeat(4,minmax(110px,1fr));
    
    /* Расстояние между ячейкаами в колонке */
    grid-gap: 100px 10px;
  
    /* Выравниваем контент по середине ячейки */
    justify-items: center;

    text-align: center;

}

.afisha__item {
    border: 1px solid black;
    border-radius: 10px;
    max-width: 253px;
    transition: transform .3s;
}

.afisha__item:hover {
    transform: scale(1.2);
    transition: .3s linear;
}

.afisha__info {
    background-color: rgba(85, 230, 237, 0.5);
    color: white;
    font-size: 20px;
    padding: 15px;
    border-radius: 0 0 10px 10px;
}

.rights {
    color: black;
    font-size: 20px;
    padding-top: 40px;
}

.corp {
    color: black;
    font-size: 20px;
    padding-top: 40px;
}



/* О нас */

main {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin-left: calc(50% - 50vw);
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradientContacts 15s ease infinite;
    text-align: center;
}

.contacts__div {
    color: white;
    font-size: 30px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;
   
}

.contacts__imgs {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.contacts__gall {
    color: white;
    position: absolute;
    right: 50px;
    top: 20px;
    font-size: 15px;
    font-weight: bolder;
}

.contacts__gall h2 {
    font-size: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.about__div {
    color: white;
    font-size: 30px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;
}

/* .about__div a {
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.about__div a:hover {
    text-decoration: underline;
    transition: .3s linear;
    font-size: 35px;
    text-decoration: none;
    color: rgb(103, 187, 155);
} */

.contacts__div a {
    position: relative;
    color: white;
    text-decoration: none;
}

.contacts__div  a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.contacts__div a:hover::before {
    transform: scaleX(1);
}

/* Галерея */

.gallery_sect {
    background-color: #333;
    
}

.gallery_sect li a,
.gallery_sect li .overLayer, .gallery_sect li .infoLayer {
    height: 187px;
    width: 250px;
}

.gallery_sect li .infoLayer ul li {
    padding: 5px 0 0;
}

.footer {
    margin-top: auto;
    padding: 25px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    
}

.imgs__container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.img__cont {
    height: 50px;
    width: 50px;
}

.description__main {
    background-color: rgb(112, 120, 233);
    max-width: 1500px;
    position: relative;
    width: 100vw;
    text-align: center; 
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    border-radius: 20px;
}

.description__div {
    display: flex;
}

.description__img {
    margin-top: 50px;
}

.description__text {
    margin-top: 200px;
    margin-left: 30px;
    text-align: left;
}

.description__name {
    position: absolute;
    left: 42.5%;
    font-size: 30px;
    font-weight: bolder;
    top: 5%;
}

.description__opis {
    max-width: 1500px;
    text-align: left;
    font-size: 20px;
    
}

.description__gallery {
    max-width: 1500px;
    background-color: rgb(128, 113, 212);
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3,minmax(110px,1fr));
    
    /* Расстояние между ячейкаами в колонке */
    grid-column-gap: 20px;
    grid-row-gap: 100px;
  
    /* Выравниваем контент по середине ячейки */
    justify-items: center;
    margin-bottom: 50px;
    border-radius: 20px;
}

.gallery__main:hover {
    transform: scale(1.1);
    transition: .3s linear;
}

.gallery__img {
    border-radius: 10px;
}

.footer__gall {

    margin-top: 50px;
    padding: 25px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    
}

.footer__gall h2 {
    color: black;
    font-size: 20px;
    font-weight: bolder;
}

@keyframes gradientContacts {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media (min-width: 300px) and (max-width:640px){
    .afisha__wrapper {
        grid-template-columns: repeat(1, minmax(110px,1fr));
    }

    .someText {
        left: 30%;
    }

    .logo__img {
        height: 150px;
        width: 150px;
        margin-top: 5%
    }

    .navBar__line {
        display: inline-block;
        cursor: pointer;    
    }
    
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }
    
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    
    .change .bar2 {opacity: 0;}
    
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    .navBar{
        position: relative;
        transition: height .3s ease-in;
        grid-template-columns: none;
    }

    .navBar a {
        display: none;
    }

    .footer__contacts h2{
        font-size: 15px;
        text-align: center;
        justify-content: center;
        display: flex;
    }
    
    .afisha__info {
        font-size: 15px;
    }

    .img__cont {
        height: 25px;
        width: 25px;
    }

    .rights, .corp {
        font-size: 10px;
        padding-top: 30px;
    }

    .about__div {
        font-size: 20px;
    }

    
}

@media (max-width:500px) {
    .someText {
        display: none;
    }

    .logo {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 640px) and (max-width:991px){
    .afisha__wrapper {
        grid-template-columns: repeat(2, minmax(110px,1fr));
    }

    .someText {
        left: 30%;
    }

    .main__nav mrgn {
        margin-top: 20px;
    }

    .afisha__info {
        font-size: 15px;
    }
    
   
    
}

@media (max-width: 860px) {
    .contacts {
        display: none;
    }

    .contacts__gall {
        display: none;
    }
}

@media (min-width: 992px) and (max-width:1170px){
    .afisha__wrapper {
        grid-template-columns: repeat(3, minmax(110px,1fr));
    }

    .someText {
        left: 35%;
    }
}

@media (min-width: 992px) and (max-width: 1399px) {
    .afisha__wrapper {
        grid-template-columns: repeat(3, minmax(110px, 1fr));
    }
}



